.container{
    background-color: gray;
}


h1{ background-color: red; color: black;
    text-decoration: line-through;
    text-decoration-style: double;
    text-decoration-color: aqua;
    text-shadow: 2px 3px 4px blue;
    text-align: center;
    text-transform: uppercase;
}
h2{ background-color: blueviolet; color: brown;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: rebeccapurple;
    text-shadow: 2px 3px 4px green;
    text-align: center;
    text-transform: capitalize;
}
p{
    text-decoration: line-through;
}
