.main{
    background-color: green;
    /*padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;*/
    padding: 30px;
    border: 15px solid orangered;
    border-radius: 20px;
}

h1{
    background-color: aqua; color: blue;
}

.main1{
    background-color: yellowgreen; color: white;
    padding: 30px;
    margin-top: 20px;
    color: blueviolet;
    border: 12px double black;
    border-right: 12px solid black;
    border-radius: 20px;
}

.main2{
    background-color: aqua;
    height: 200px;
    width: 1000px;
    /*box-shadow: 3px 4px 5px 15px red;*/
    margin-top: 20px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.main3{
   
   
margin-top: 50px;
    
}