.navbar {
    display: flex;
    justify-content: space-around;
    background-color: yellow;
    align-items: center;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.navbar label {
    display: none;
}
    #demo{
        display: none;
    }
.navbar label i {
    color: red;
}

#demo:checked~.navbar ul{
    display: block;
    background-color: aqua;
}

@media screen and (max-width: 600px) {
    .navbar{
        height: 90px;
    }
    .navbar label {
        display: block;
    }
    .navbar ul{
        display: none;
        margin-top: 170px;
        margin-left: 200px;
    }

}